<% cache do %>
  <!-- Showcase -->
  <section class="showcase">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <img alt="" src="/images/iPhone-screen.png">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <h2 class="showcase-head head">
            <%= t('.mobile_apps.head') %>
          </h2>
          <p class="showcase-text">
            <%= t('.mobile_apps.description') %>
          </p>
          <div class="showcase-links">
            <%= link_to t('.mobile_apps.projects'), projects_path, class: 'btn' %>
            <%= link_to t('.mobile_apps.estimate_price'), calculator_path, class: 'btn' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Showcase -->
  <section class="showcase showcase-second cf">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-push-7">
          <img alt="" src="/images/iMac.png" class="showcase-image">
        </div>
        <div class="col-sm-7 col-sm-pull-5">
          <h2 class="showcase-head head">
            <%= t('.web.head') %>
          </h2>
          <%= simple_format t('.web.description'), class: 'showcase-text' %>
          <div class="showcase-links">
            <%= link_to t('.web.projects'), projects_path, class: 'btn' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About -->
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="about-head head">
            <%= t('.about.design.head') %>
          </h2>
          <div class="about-items">
            <div class="about-item">
              <div class="about-icon">
                <i class="icon-strategy"></i>
              </div>
              <div class="about-text">
                <%= t('.about.design.item_1') %>
              </div>
            </div>
            <div class="about-item">
              <div class="about-icon">
                <i class="icon-brand"></i>
              </div>
              <div class="about-text">
                <%= t('.about.design.item_2') %>
              </div>
            </div>
            <div class="about-item">
              <div class="about-icon">
                <i class="icon-webmob"></i>
              </div>
              <div class="about-text">
                <%= t('.about.design.item_3') %>
              </div>
            </div>
            <div class="about-item">
              <div class="about-icon">
                <i class="icon-ads"></i>
              </div>
              <div class="about-text">
                <%= t('.about.design.item_4') %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h2 class="about-head head">
            <%= t('.about.consulting.head') %>
          </h2>
          <div class="about-items">
            <div class="about-item">
              <div class="about-icon">
                <i class="icon-marketingplan"></i>
              </div>
              <div class="about-text">
                <%= t('.about.consulting.item_1') %>
              </div>
            </div>
            <div class="about-item">
              <div class="about-icon">
                <i class="icon-auditcode"></i>
              </div>
              <div class="about-text">
                <%= t('.about.consulting.item_2') %>
              </div>
            </div>
            <div class="about-item">
              <div class="about-icon">
                <i class="icon-analysis"></i>
              </div>
              <div class="about-text">
                <%= t('.about.consulting.item_3') %>
              </div>
            </div>
            <div class="about-item">
              <div class="about-icon">
                <i class="icon-tz"></i>
              </div>
              <div class="about-text">
                <%= t('.about.consulting.item_4') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Callback -->
  <section class="callback">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="head callback-head">
            <%= t('.callback.head') %>
          </h2>
          <p class="showcase-text">
            <%= t('.callback.description') %>
          </p>
        </div>
        <div class="col-sm-6">
          <%= form_for CallbackRequest.new, html: { class: 'form' } do |f| %>
            <%= f.text_field :name, placeholder: true, required: true %>
            <%= f.email_field :email, placeholder: true, required: true %>
            <%= f.text_field :content, placeholder: true %>
            <%= f.button class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
