<% cache do %>
  <!-- Works -->
  <section class="works-wrap">
    <div class="container">
      <div class="works">
        <div class="works-nav">
          <ul>
            <li>
              <a class="active" href="#">Мобильные приложения</a>
            </li>
            <li>
              <a href="#">Сайты</a>
            </li>
          </ul>
        </div>

        <div class="row works-items">
          <div class="col-sm-6 works-item works-item_light">
            <div class="works-bg" style="background-image: url(/images/works-bg3.jpg)"></div>
            <%= link_to '', chisto_path, class: 'works-hover' %>
            <div class="works-logo">
              <img alt="" src="/images/works-logo3.png">
            </div><span class="works-type">Мобильное приложение</span>
            <p class="works-name">
              Химчистка с доставкой
            </p>
          </div>
          <div class="col-sm-6 works-item">
            <div class="works-bg" style="background-image: url(/images/works-bg5.jpg)"></div>
            <%= link_to '', justforyou_path, class: 'works-hover' %>
            <div class="works-logo">
              <img alt="" src="/images/works-logo5.png">
            </div><span class="works-type">Мобильное приложение</span>
            <p class="works-name">
              Доставка диетической еды
            </p>
          </div>
          <div class="col-sm-6 works-item">
            <div class="works-bg" style="background-image: url(/images/works-bg6.jpg)"></div>
            <%= link_to '', academia_path, class: 'works-hover' %>
            <div class="works-logo">
              <img alt="" src="/images/works-logo6.png">
            </div><span class="works-type">Мобильное приложение</span>
            <p class="works-name">
              Доставка еды из ресторана
            </p>
          </div>
          <div class="col-sm-6 works-item works-item_light">
            <div class="works-bg" style="background-image: url(/images/works-bg7.jpg)"></div>
            <%= link_to '', onevsone_path, class: 'works-hover' %>
            <div class="works-logo">
              <img alt="" src="/images/works-logo7.png">
            </div><span class="works-type">Мобильная игра</span>
            <p class="works-name">
              Соревнуйся один на один с друзьями
            </p>
          </div>
          <div class="col-sm-6 works-item works-item_light">
            <div class="works-bg" style="background-image: url(/images/works-bg2.jpg)"></div>
            <%= link_to '', gethelp_path, class: 'works-hover' %>
            <div class="works-logo">
              <img alt="" src="/images/works-logo2.png">
            </div><span class="works-type">Мобильное приложение</span>
            <p class="works-name">
              Помощник в учебе
            </p>
          </div>
          <div class="col-sm-6 works-item">
            <div class="works-bg" style="background-image: url(/images/works-bg1.jpg)"></div>
            <%= link_to '', sportup_path, class: 'works-hover' %>
            <div class="works-logo">
              <img alt="" src="/images/works-logo1.png">
            </div><span class="works-type">Мобильное приложение</span>
            <p class="works-name">
              Поиск спортивных событий
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
