<!-- Calculator -->
<section class="calc-wrap">
  <div class="container">
    <%= form_for @price_estimation, html: { class: 'calc' } do |f| %>
      <h2 class="calc-head head">
        Калькулятор стоимости приложения
      </h2>
      <div class="calc-slider">
        <!-- Calc 1 -->
        <div class="calc-item">
          <div class="calc-name">
            Выберите одну или несколько платформ<br>
            для вашего мобильного приложения
          </div>
          <div class="calc-select">
            <%= f.check_box :platforms, { multiple: true }, 'ios', nil %>
            <i class="icon-ios-calculator-active"></i>
            <p>
              iOS
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :platforms, { multiple: true }, 'android', nil %>
            <i class="icon-android-calculator-active"></i>
            <p>
              Android
            </p>
          </div>
        </div>
        <!-- Calc 2 -->
        <div class="calc-item">
          <div class="calc-name">
            Укажите способ регистрации в<br>
            мобильном приложении?
          </div>
          <div class="calc-select">
            <%= f.check_box :registration_methods, { multiple: true }, 'phone', nil %>
            <i class="icon-mobilnum-calculator-active"></i>
            <p>
              Номер телефона
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :registration_methods, { multiple: true }, 'socials', nil %>
            <i class="icon-social-calculator-active"></i>
            <p>
              Социальные сети
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :registration_methods, { multiple: true }, 'password', nil %>
            <i class="icon-loginpass-calculator-active"></i>
            <p>
              Логин и Пароль
            </p>
          </div>
        </div>
        <!-- Calc 3 -->
        <div class="calc-item">
          <div class="calc-name">
            Использование фото/видео камеры?
          </div>
          <div class="calc-select">
            <%= f.radio_button :camera_use, true %>
            <i class="icon-camera-calculator-active"></i>
            <p>
              Камера
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :camera_use, false %>
            <i class="icon-no-02-calculator-active"></i>
            <p>
              Не требуется
            </p>
          </div>
        </div>
        <!-- Calc 4 -->
        <div class="calc-item">
          <div class="calc-name">
            Использование геопозиции и карт?<br>
            Определение местоположения, отображение объектов на карте и т.д.
          </div>
          <div class="calc-select">
            <%= f.radio_button :geolocation_use, true %>
            <i class="icon-map-calculator-active"></i>
            <p>
              Геолокация
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :geolocation_use, false %>
            <i class="icon-no-03-calculator-active"></i>
            <p>
              Не требуется
            </p>
          </div>
        </div>
        <!-- Calc 5 -->
        <div class="calc-item">
          <div class="calc-name">
            Выберите один или несколько способов коммуникации<br>
            с пользователями приложения?
          </div>
          <div class="calc-select">
            <%= f.check_box :notification_methods, { multiple: true }, 'push', nil %>
            <i class="icon-push-calculator-active"></i>
            <p>
              Push-уведомления
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :notification_methods, { multiple: true }, 'email', nil %>
            <i class="icon-mail-calculator-active"></i>
            <p>
              E-mail рассылки
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :notification_methods, { multiple: true }, 'sms', nil %>
            <i class="icon-sms-calculator-active"></i>
            <p>
              SMS-рассылки
            </p>
          </div>
        </div>
        <!-- Calc 6 -->
        <div class="calc-item">
          <div class="calc-name">
            Есть ли у вас техническое задание?
          </div>
          <div class="calc-select">
            <%= f.radio_button :specification_stage, 'complete' %>
            <i class="icon-yes-calculator-active"></i>
            <p>
              Есть подробное техническое задание
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :specification_stage, 'half-complete' %>
            <i class="icon-incomplete-calculator-active"></i>
            <p>
              Неполное, нуждается<br>
              в доработке
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :specification_stage, 'none' %>
            <i class="icon-idea-calculator-active"></i>
            <p>
              Нет технического задания<br>
              только идея
            </p>
          </div>
        </div>
        <!-- Calc 7 -->
        <div class="calc-item">
          <div class="calc-name">
            Есть ли у вас логотип, фирменный стиль?
          </div>
          <div class="calc-select">
            <%= f.radio_button :logo, true %>
            <i class="icon-yeslogo-calculator-active"></i>
            <p>
              Да, есть
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :logo, false %>
            <i class="icon-pen-calculator-active"></i>
            <p>
              Требуется разработать
            </p>
          </div>
        </div>
        <!-- Calc 8 -->
        <div class="calc-item">
          <div class="calc-name">
            Расскажите нам чуть больше,<br>
            чтобы мы могли точнее оценить стоимость
          </div>
          <div class="form">
            <%= f.text_field :comment, placeholder: 'Ваши комментарии' %>
          </div>
        </div>
        <!-- Calc 9 -->
        <div class="calc-item">
          <div class="calc-name">
            Наш менеджер уже формирует для вас коммерческое предложение.<br>
            Укажите желаемый способ связи.
          </div>
          <div class="calc-select">
            <%= f.radio_button :communication_method, 'phone' %>
            <i class="icon-mobilnum-calculator-active"></i>
            <p>
              Мобильный телефон
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :communication_method, 'email' %>
            <i class="icon-email-calculator-active"></i>
            <p>
              Электронная почта
            </p>
          </div>
        </div>
        <!-- Calc 10 -->
        <div class="calc-item">
          <div class="calc-name">
            Указанные вами контактные данные<br>
            будут использованы только для связи с вами.
          </div>
          <div class="form">
            <%= f.text_field :name, placeholder: 'Марат', required: true %>
            <%= f.phone_field :phone_number, placeholder: '+7 985 555 88 60', required: true %>
          </div>
        </div>
      </div>
      <div class="calc-links">
        <a class="btn calc-prev" href="#">назад</a> <a class="btn calc-next active" href="#">далее</a>
        <%= button_tag 'отправить', class: 'btn calc-submit' %>
      </div>
    <% end %>
  </div>
</section>
