<!-- Calculator -->
<%= render 'shared/error_messages', object: @price_estimation %>

<section class="calc-wrap">
  <div class="container">
    <%= form_for @price_estimation, html: { class: 'calc' } do |f| %>
      <h2 class="calc-head head">
        Калькулятор стоимости приложения
      </h2>
      <div class="calc-slider">
        <!-- Calc 1 -->
        <div class="calc-item">
          <div class="calc-name">
            Выберите платформы приложения
          </div>
          <div class="calc-select">
            <%= f.check_box :platforms, { multiple: true }, 'ios', nil %>
            <i class="icon-ios-calculator-active"></i>
            <p>
              iOS
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :platforms, { multiple: true }, 'android', nil %>
            <i class="icon-android-calculator-active"></i>
            <p>
              Android
            </p>
          </div>
        </div>
        <!-- Calc 2 -->
        <div class="calc-item">
          <div class="calc-name">
            Способ регистрации в приложении
          </div>
          <div class="calc-select">
            <%= f.check_box :registration_methods, { multiple: true }, 'phone', nil %>
            <i class="icon-mobilnum-calculator-active"></i>
            <p>
              Номер телефона
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :registration_methods, { multiple: true }, 'socials', nil %>
            <i class="icon-social-calculator-active"></i>
            <p>
              Социальные сети
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :registration_methods, { multiple: true }, 'password', nil %>
            <i class="icon-loginpass-calculator-active"></i>
            <p>
              Логин и пароль
            </p>
          </div>
        </div>
        <!-- Calc 3 -->
        <div class="calc-item">
          <div class="calc-name">
            Использование камеры
          </div>
          <div class="calc-select">
            <%= f.radio_button :camera_use, true %>
            <i class="icon-camera-calculator-active"></i>
            <p>
              Камера
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :camera_use, false %>
            <i class="icon-no-02-calculator-active"></i>
            <p>
              Не требуется
            </p>
          </div>
        </div>
        <!-- Calc 4 -->
        <div class="calc-item">
          <div class="calc-name">
            Использование геопозиции и карт?<br>
            Определение местоположения, отображение объектов на карте и т.д.
          </div>
          <div class="calc-select">
            <%= f.radio_button :geolocation_use, true %>
            <i class="icon-map-calculator-active"></i>
            <p>
              Геолокация
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :geolocation_use, false %>
            <i class="icon-no-03-calculator-active"></i>
            <p>
              Не требуется
            </p>
          </div>
        </div>
        <!-- Calc 5 -->
        <div class="calc-item">
          <div class="calc-name">
            Выберите один или несколько способов коммуникации<br>
            с пользователями приложения
          </div>
          <div class="calc-select">
            <%= f.check_box :notification_methods, { multiple: true }, 'push', nil %>
            <i class="icon-push-calculator-active"></i>
            <p>
              Push-уведомления
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :notification_methods, { multiple: true }, 'email', nil %>
            <i class="icon-mail-calculator-active"></i>
            <p>
              Email-рассылки
            </p>
          </div>
          <div class="calc-select">
            <%= f.check_box :notification_methods, { multiple: true }, 'sms', nil %>
            <i class="icon-sms-calculator-active"></i>
            <p>
              SMS-рассылки
            </p>
          </div>
        </div>
        <!-- Calc 6 -->
        <div class="calc-item">
          <div class="calc-name">
            Есть ли у вас техническое задание?
          </div>
          <div class="calc-select">
            <%= f.radio_button :specification_stage, 'complete' %>
            <i class="icon-yes-calculator-active"></i>
            <p>
              Есть подробное техническое задание
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :specification_stage, 'half-complete' %>
            <i class="icon-incomplete-calculator-active"></i>
            <p>
              Неполное, нуждается в доработке
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :specification_stage, 'none' %>
            <i class="icon-idea-calculator-active"></i>
            <p>
              Нет технического задания, только идея
            </p>
          </div>
        </div>
        <!-- Calc 7 -->
        <div class="calc-item">
          <div class="calc-name">
            Есть ли у вас логотип, фирменный стиль?
          </div>
          <div class="calc-select">
            <%= f.radio_button :logo, true %>
            <i class="icon-yeslogo-calculator-active"></i>
            <p>
              Да, есть
            </p>
          </div>
          <div class="calc-select">
            <%= f.radio_button :logo, false %>
            <i class="icon-pen-calculator-active"></i>
            <p>
              Требуется разработать
            </p>
          </div>
        </div>
        <!-- Calc 8 -->
        <div class="calc-item">
          <div class="calc-name">
            Указанные контактные данные<br>
            будут использованы только для связи с вами.
          </div>
          <div class="form">
            <%= f.text_field :name, placeholder: 'Имя', required: true %>
            <%= f.text_field :phone_number_or_email, placeholder: 'Email или номер телефона', required: true %>
            <%= f.text_field :comment, placeholder: 'Комментарий (опционально)' %>
          </div>
        </div>
      </div>
      <div class="calc-links">
        <a class="btn calc-prev" href="#">назад</a> <a class="btn calc-next active" href="#">далее</a>
        <%= button_tag 'отправить', class: 'btn calc-submit' %>
      </div>
    <% end %>
  </div>
</section>
