<%= provide(:title, t('.title')) %>

<% cache do %>
  <!-- Project -->
  <section class="project-wrap onevsone">
    <div class="container">
      <div class="row">
        <div class="project">
          <div class="col-sm-7">
            <a class="project-back" href="/projects"><i class="icon-back-w"></i> <%= t('projects.back') %></a>
            <div class="project-type">
              <%= t('projects.types.app') %>
            </div><img alt="" class="project-logo" src="/images/projects/onevsone/onevsone-logo.png">
            <h2 class="project-head">
              <%= t('.head') %>
            </h2>
            <p class="project-descr">
              <%= t('.description') %>
            </p>
            <div class="project-links">
              <a href="https://itunes.apple.com/us/app/1-на-1/id1017347211?ls=1&mt=8"><img alt="" src="/images/app-store.png"></a>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="project-img">
              <img alt="" src="/images/projects/onevsone/onevsone-iphone.png" height="550">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- App -->
  <section class="app-wrap">
    <div class="container">
      <div class="app">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="app-head head">
              <%= t('projects.about') %>
            </h2>
            <%= simple_format t('.about') %>
          </div>
          <div class="col-sm-6">
            <div class="app-images">
              <img alt="" src="/images/projects/onevsone/onevsone-screen-01.png">
              <img alt="" src="/images/projects/onevsone/onevsone-screen-02.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Tech -->
  <section class="tech-wrap">
    <div class="container">
      <div class="tech">
        <h2 class="tech-head head">
          <%= t('projects.technologies') %>
        </h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="tech-item">
              <div class="tech-img">
                <img alt="" src="/images/tech1.png">
              </div>
              <h3 class="tech-item-head">
                Ruby on Rails
              </h3>
              <p>
                As anyone who has experience knows, there are advantages and disadvantages to outsourcing software development.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="tech-item">
              <div class="tech-img">
                <img alt="" src="/images/tech2.png">
              </div>
              <h3 class="tech-item-head">
                Haml
              </h3>
              <p>
                Usage of the Internet is becoming more common due to rapid advancement of technology and the power.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="tech-item">
              <div class="tech-img">
                <img alt="" src="/images/tech3.png">
              </div>
              <h3 class="tech-item-head">
                CodeIgniter
              </h3>
              <p>
                The moment you think of buying a Web Hosting Plan, you know one thing – So many choices, which one to choose.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
