<!-- Contacts -->
<%= render 'shared/error_messages', object: @callback_request %>

<section class="contacts-wrap">
  <div class="container">
    <div class="contacts">
      <h1 class="contacts-head">Мы всегда на связи</h1>
      <div class="row">
        <div class="col-sm-6">
          <div class="contacts-items">
            <div class="contacts-item">
              <i class="icon-footer-location"></i>
              <p>
                Москва, ул. Большая Никитская, д. 22
              </p>
            </div>
            <div class="contacts-item">
              <i class="icon-phone"></i> <a href="tel:79855558860">+7 985 555-88-60</a>
            </div>
            <div class="contacts-item">
              <i class="icon-email-calculator-active"></i> <a href="mailto:info@binaryblitz.ru">info@binaryblitz.ru</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <%= form_for @callback_request, html: { class: 'form' } do |f| %>
            <%= f.text_field :name, placeholder: 'Имя', required: true %>
            <%= f.email_field :email, placeholder: 'Email', required: true %>
            <%= f.phone_field :phone_number, placeholder: 'Номер телефона (опционально)' %>
            <%= f.text_area :content, placeholder: 'Ваш вопрос' %>
            <%= button_tag 'Отправить', class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
