<!-- Contacts -->
<section class="contacts-wrap">
  <div class="container">
    <div class="contacts">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="head contacts-head">
            Мы всегда доступны, и вы можете связаться с нами
          </h2>
          <div class="contacts-items">
            <div class="contacts-item">
              <i class="icon-footer-location"></i>
              <p>
                Москва, ул. Большая Никитская д. 22
              </p>
            </div>
            <div class="contacts-item">
              <i class="icon-phone"></i> <a href="tel:79855558860">+7 985 555 88 60</a>
            </div>
            <div class="contacts-item">
              <i class="icon-email-calculator-active"></i> <a href="mailto:info@binaryblitz.ru">info@binaryblitz.ru</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h2 class="contacts-head head">
            Напишите нам и наши сотрудники обязательно вам помогут
          </h2>
          <%= form_for @callback_request, html: { class: 'form' } do |f| %>
            <div class="contacts-inputs">
              <%= f.text_field :name, placeholder: 'Ваше имя' %>
              <%= f.email_field :email, placeholder: 'Ваш email' %>
            </div>
            <%= f.text_area :content, placeholder: 'Ваш вопрос' %>
            <%= button_tag 'отправить', class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
