<% cache do %>
  <!-- Modal -->
  <div class="modal-form" id="modal">
    <%= form_for CallbackRequest.new, html: {class: 'form'} do |f| %>
      <h2 class="head modal-form-head">
        <%= t('.head') %>
      </h2>
      <%= f.text_field :name, placeholder: true, required: true %>
      <%= f.phone_field :phone_number, placeholder: true, required: true %>
      <%= f.text_field :email, placeholder: t('.placeholder.callback_request.email') %>
      <%= f.text_field :content, placeholder: t('.placeholder.callback_request.content') %>
      <%= f.submit class: 'btn' %>
    <% end %>
  </div>
<% end %>
