<!-- Navbar -->
<header class="header logotype">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="logo">
          <a href="/"><img alt="" src="/images/logo.png"></a>
        </div>
        <nav class="nav">
          <div class="burger-wrap">
            <a href="#"><span></span></a>
          </div>
          <ul>
            <li>
              <a href="/projects"><%= t('.projects') %></a>
            </li>
            <li>
              <a href="/contact"><%= t('.contact') %></a>
            </li>
            <li>
              <a href="/calculator"><%= t('.calculator') %></a>
            </li>
            <li>
              <a href="/jobs"><%= t('.jobs') %></a>
            </li>
            <li>
              <a href="/consulting"><%= t('.consulting') %></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-4">
        <div class="header-links">
          <% if I18n.locale == I18n.default_locale %>
            <%= link_to 'EN', url_for(host: 'binaryblitz.xyz'), class: 'lang' %>
          <% else %>
            <%= link_to 'RU', url_for(host: 'binaryblitz.ru'), class: 'lang' %>
          <% end %>
          <a class="callback-link btn" href="javascript:;" data-src="#modal" data-fancybox="modal">
            <%= t('.callback') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
