<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">

    <title>BinaryBlitz</title>

    <%= csrf_meta_tags %>

    <link href="/css/fonts.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" sizes="192x192" href="/icon.png">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/modal' %>
    <%= render 'layouts/scripts' %>
  </body>
</html>
